.footer {
    width: 100%;
    min-height: 23px;
    max-width: 1109px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family:"Mulish", sans-serif;
}
.navFooter{
    max-width: 1109px;
&__list {    
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: row;
}

&__item {
    list-style: none;
    padding-left: 40px;
    // padding-right: 45px;
}

&__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: $main-color;
}
}

.logo {
    width: 90.13px;
    height: 19.34px;
    margin-right: auto;
}