@import 'main';

.header {
    width: 100%;
    min-height: 23px;
    max-width: 1109px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: row;
}

.nav__item {
    list-style: none;
    padding-left: 40px;
    padding-right: 45px;
}

.nav__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: $main-color;
}

.logo {
    width: 90.13px;
    height: 19.34px;
    margin-right: auto;
}

// .logo {
//     margin-left: 30px;
// }
// .nav__link{
//     margin-right: 30px;
//     color: black;
//     text-decoration: none;
//     font-family: "Mulish", sans-serif;
//     font-weight: bold;

// }