.details{
    width: 100%;
    max-width: 350px;
    max-width: 343px;
    margin: 0 auto;
    padding-left: 50px;
    display: flex;
    line-height: 2.7;
    font-size: 18px;  
}
.details-container{
    list-style-type: none; 
    color: #11111150;
    font-weight: 700;
}
.details-result{
    list-style-type: none;
    font-weight: bold;
}
.details-list{
    padding: 2px;
    padding-left: 25px;
    margin: 0 -20px;
    border-bottom: 1px solid #D8D8D8;
}
.container {
    display: flex;
    flex-direction: column;
}
// .mid__img{
//     padding-top: 20px;
// }
.mid__text{
    height: 93px;
    margin: 0 auto;
    max-width: 1109;
    padding: 30px 0;
    
}
.project-grid {
    display: flex;
    justify-content: space-between;
}